@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-attachment: fixed; /* Parallax effect */
}

.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.welcome-text {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: italic;
}

.explore-button {
  display: inline-block;
  background-color: #ff6f61;
  color: #fff;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.explore-button:hover {
  background-color: #ff8c42;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }

  .welcome-text {
    font-size: 2.5rem;
  }

  .subtext {
    font-size: 1rem;
  }

  .explore-button {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}